.latest-resources-container {
  padding: 80px 164.63px;
  background-color: #f9f9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-resources-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.latest-resources-btn {
  height: 44px;
  width: 173px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #24272e;
  border-color: #1d6fa3;
}

.latest-resources-text-header {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.latest-resources-text-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 32px 0px;
  width: 498px;
  color: #7c7d82;
  text-align: center;
}

.latest-resources-component {
  display: flex;
  gap: 26px;
  margin-bottom: 32px;
}

.latest-resources-card {
  width: 352.91px;
  height: 337.45px;
  display: flex;
  flex-direction: column;
  padding-left: 29px;
  border-radius: 21.83px;
  background-color: #ffffff;
}

.latest-resources-card-icon-container {
  margin-top: 39.18px;
  width: 65.49px;
  height: 65.59px;
  display: flex;
  align-items: center;
  gap: 8.64px;
}

.latest-resources-card-icon-purple {
  padding: 20px;
  border-radius: 18.19px;
  background-color: #f8f1ff;
}
.latest-resources-card-icon-blue {
  padding: 20px;
  border-radius: 18.19px;
  background-color: #f3f6ff;
}
.latest-resources-card-icon-orange {
  padding: 20px;
  border-radius: 18.19px;
  background-color: #fae6e0;
}

.latest-resources-card-icon-title {
  text-wrap: nowrap;
}

.latest-resources-card-header {
  margin: 21.93px 0 12.48px 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.latest-resources-card-description {
  font-size: 16px;
  line-height: 24px;
  color: #7c7d82;
  margin-bottom: 51px;
}

.latest-resources-card-btn {
  font-family: "DM Sans", serif;
  color: #1d6fa3;
  gap: 5.47px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.latest-resources-card button {
  height: 24px;
  width: 117.47px;
  border: none;
  display: flex;
}
