.news-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 165.5px;
  align-items: center;
}

.news-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.news-text-header {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.news-text-description {
  font-size: 18px;
  margin: 32px auto;
  width: 613.67px;
  line-height: 27px;
  font-weight: 400;
  color: #505258;
}

.news-card-container {
  display: grid;
  grid-template-columns: 357px 357px 357px;
  grid-template-rows: 470px 470px 470px;
  gap: 19px;
  margin-bottom: 32px;
}
.news-card-container-content {
  border-radius: 20px;
  background-color: #f9f9ff;
  padding: 20px 22px 0px 20px;
}

.news-container-btn {
  font-size: 16px;
  font-weight: 700;
  color: #24272e;
  border-color: #1d6fa3;
}

.news-card-image {
  width: 315px;
  height: 201px;
  border-radius: 16px;
  background-position: 0;
  object-fit: cover;
}

.news-card-title {
  font-size: 24px;
  font-weight: 600;
  height: 72px;
  width: 315px;
  overflow: hidden;
  line-height: 36px;
  margin: 24px 0 8px 0;
}
.news-card-description {
  width: 315px;
  height: 81px;
  color: #505258;
  line-height: 24px;
  font-weight: 400;
  overflow: hidden;
  margin: 0 0 17px 0;
}

.news-card-btn {
  font-family: "DM Sans", serif;
  color: #1d6fa3;
  gap: 5.47px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(28, 111, 163);
  font-size: 16px;
  font-weight: 700;
  display: flex;
}

.news-card-container button {
  height: 24px;
  width: 117.47px;
  border: none;
  display: flex;
}
